<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MageOS\AiBase\Api\AiServiceSelectorInterface" type="MageOS\AiBase\Model\AiServiceSelector"/>
    <preference for="MageOS\AiBase\Api\Data\AiServiceInterface" type="MageOS\AiBase\Model\AiService"/>
    <preference for="MageOS\AiBase\Api\Data\FieldDescriptorInterface" type="MageOS\AiBase\Model\FieldDescriptor"/>

    <type name="MageOS\AiBase\Block\Adminhtml\Configuration\Services">
        <arguments>
            <argument name="services" xsi:type="array">
                <item name="anthropic" xsi:type="object">MageOS\AiBase\AiServices\Anthropic</item>
                <item name="azure" xsi:type="object">MageOS\AiBase\AiServices\Azure</item>
                <item name="deepseek" xsi:type="object">MageOS\AiBase\AiServices\Deepseek</item>
                <item name="google" xsi:type="object">MageOS\AiBase\AiServices\Google</item>
                <item name="grok" xsi:type="object">MageOS\AiBase\AiServices\Grok</item>
                <item name="huggingface" xsi:type="object">MageOS\AiBase\AiServices\HuggingFace</item>
                <item name="lmstudio" xsi:type="object">MageOS\AiBase\AiServices\LmStudio</item>
                <item name="ollama" xsi:type="object">MageOS\AiBase\AiServices\Ollama</item>
                <item name="openrouter" xsi:type="object">MageOS\AiBase\AiServices\OpenRouter</item>
                <item name="openai" xsi:type="object">MageOS\AiBase\AiServices\OpenAi</item>
                <item name="xai" xsi:type="object">MageOS\AiBase\AiServices\Xai</item>
            </argument>
        </arguments>
    </type>
</config>
