/.github          export-ignore
/docs             export-ignore
/Test             export-ignore
/phpcs.xml.dist   export-ignore
/phpunit.xml.dist export-ignore
/CLAUDE.md        export-ignore
/.gitattributes   export-ignore
